.accept-btn{
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #1b9b1b;
  color: #fff;
  font-weight: 700;
  margin: 0px 10px;
}
.reject-btn{
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #b71b1b;
  color: #fff;
  font-weight: 700;
  margin: 0px 10px;
}